exclude: '.*\.(resx|Designer.cs|xti|tcscopex|tsproj)'
repos:
  - repo: https://github.com/rruiter87/pre-commit-hooks/
    rev: eed2a917b83b75e46210d49a66f988dc7e720d68
    hooks:
      - id: twincat-leading-tabs-remover
      - id: twincat-lineids-remover
      - id: twincat-xml-format
      - id: check-fixed-library-versions
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # Removes trailing white spaces
      - id: trailing-whitespace
      # Checks yaml files for parseable syntax
      - id: check-yaml
      # Prevents git from committing large files
      - id: check-added-large-files
  - repo: local
    hooks:
      # Name of the hook
      - id: stweep
        # Hook name shown during hook execution
        name: Format twincat files with stweep
        # Where pre-commit can find the script it should call and how it should call it
        entry: STweep.CLI format --settingsFile "settings.STweep" --path
        # The language to use, in this case we're using a language present on the system.
        language: system
        # A valid regex pattern to define which files should be passed to STweep
        files: '.*\.(TcPOU|TcDUT|TcTTO|TcGVL)'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.6.2
          - "@prettier/plugin-xml@0.12.0"
